# Database Configuration
DB_HOST=localhost #Database Host
DB_PORT=5432 #Database Port
DB_USERNAME=user #Database Username
DB_PASSWORD=password #Database Password
DB_DATABASE=rea_postgres  #Database Name
DATABASE_URI=postgresql://user:password@localhost:5432/rea_postgres #Database URI

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com #SMTP USER
MAIL_PASSWORD=your-16-char-app-password #SMTP APP PASSWORD
MAIL_FROM_ADDRESS=noreply@rea.com #Email sender address
MAIL_FROM_NAME=Rea Team #Email sender name

# Database
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
POSTGRES_PORT=PORT

# App
NODE_ENV=production
PORT=3000
DATABASE_URI=DATABASE_URI
API_VERSION=api/v1
