# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=seisho_db
POSTGRES_PORT=5432

# App
NODE_ENV=production
PORT=3000
DATABASE_URI=postgres://postgres:postgres@rea-postgres:5432/seisho_db
API_VERSION=api/v1
