
# Database
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
POSTGRES_PORT=5432

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your-email@gmail.com 
EMAIL_PASSWORD=your-16-char-app-password 
EMAIL_FROM_ADDRESS=noreply@rea.com 
EMAIL_FROM_NAME=Rea Team 

# App
NODE_ENV=production
PORT=3000
DATABASE_URI=DATABASE_URI
API_VERSION=api/v1

#SMTP
EMAIL_MAILER=smtp
EMAIL_HOST=smtp.example.cloud
EMAIL_PORT=your port
EMAIL_USERNAME=yourusername
EMAIL_PASSWORD=yourpassword
EMAIL_ENCRYPTION=TLS
EMAIL_FROM_ADDRESS=youremailaddress
EMAIL_FROM_NAME="HNG13"

#OAuth
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

#JWT 
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=3600s

FRONTEND_URL=http://google.com

POSTMAN_API_KEY=your_postman_api_key
